<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>真心话，不冒险！</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/mycmt.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container">

<div class="error center">
	<p>哎呀 ！出错啦 ！</p>
	<div></div>
	<a href="">再试一次</a>
</div>

</div>
</body>
<script></script>
</html>
