<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/mycmt.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully" id="container" style="background:white;">

<span class="comment comment-30 trans05">
	<span class="comment-text">还好还好啊还好啊啊还好还</span>
	<span class="comment-icon">
		<img src="../img/1.jpg">
	</span>
</span>
<span class="comment comment-40 trans05">
	<span class="comment-text">还好还好啊还dd</span>
	<span class="comment-icon">
		<img src="../img/1.jpg">
	</span>
</span>

<span class="comment comment-50 trans05">
	<span class="comment-text">还好啊</span>
	<span class="comment-icon">
		<img src="../img/1.jpg">
	</span>
</span>

</div>
</body>
<script></script>
</html>
